
* {
  box-sizing: border-box;

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  margin: 0;
}

/* Home */
.home-wrapper {

}


.home-bg {
  background-image: url("./assets/image.jpg");
  height: 100%;
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.todo {
  color: red;
  font-weight: bold;
}
